<!DOCTYPE html>

<head>
    <title>My Contact App</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <h1>Book Store App</h1>
    </header>
    <nav class="tab">
        <button class="tablinks">Books</button>
        <button class="tablinks">Loans</button>
    </nav>
    <div id="books" class="content">
        <nav>
            <button id="add-a-book">Add a Book</button>
            <button id="show-books">Show Books</button>
            <button id="detail-book">Detail Book</button>
            <button id="update-book">Update Book</button>
            <button id="delete-book">Delete Book</button>
        </nav>
    </div>
    <div id="loans" class="content">
        <nav>
            <button id="add-a-loan">Add a Loan</button>
            <button id="show-loans">Show Loans</button>
            <button id="update-loan">Update Loan</button>
            <button id="delete-loan">Delete Loan</button>
        </nav>
    </div>

    <script src="./js/main.js"></script>
    <script src="./js/books.js"></script>
    <script src="./js/loans.js"></script>
</body>