<!DOCTYPE html>

<head>
    <title>My Contact App</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <h1>Book Store App</h1>
    </header>
    <nav class="tab">
        <button class="tablinks">Books</button>
        <button class="tablinks">Loans</button>
    </nav>
    <div id="books" class="content">
        <nav>
            <button class="bookLinks">Add a book</button>
            <button class="bookLinks">Show books</button>
            <button class="bookLinks">Detail book</button>
            <button class="bookLinks">Update book</button>
            <button class="bookLinks">Delete book</button>
        </nav>
    </div>
    <div id="loans" class="content">
        <nav>
            <button class="loanLinks">Add a loan</button>
            <button class="loanLinks">Show loan</button>
            <button class="loanLinks">Update loan</button>
            <button class="loanLinks">Delete loan</button>
        </nav>
    </div>

    <script src="./js/main.js"></script>
    <!-- <script src="./js/books.js"></script>
    <script src="./js/loans.js"></script> -->
</body>