<!DOCTYPE html>

<head>
    <title>My Contact App</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <script src="./js/main.js"></script>
    <script src="./js/books.js"></script>
    <script src="./js/loans.js"></script>
    <header>
        <h1>Book Store App</h1>
    </header>
    <nav class="tab">
        <button href="/html/">Books</button>
        <button href="/css/">Loans</button>
    </nav>
    <nav class="tab books">
        <button href="/html/">Add a book</button>
        <button href="/css/">Show books</button>
        <button href="/js/">Detail book</button>
        <button href="/python/">Update book</button>
        <button href="/js/">Delete book</button>
    </nav>
    <nav class="tab loans">
        <button href="/html/">Add a loan</button>
        <button href="/css/">Show loan</button>
        <button href="/js/">Update loan</button>
        <button href="/python/">Delete loan</button>
    </nav>

</body>